@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>
<button id="planningNav"type="button">Planning</button>

<script type="text/javascript">
    $(document).ready(function () {

        //Redirects user to homepage/switchboard.
        $("#planningNav").click(function () {
            location.href = "/Planning"
        });

    });
</script>