@model JAG.Toddler.Core.Models.Planning

@{
    ViewData["Title"] = "Planning Screen";
}
<h1>Planning</h1>

@Html.TextBoxFor(model => Model.PlanDate, "{0:MM/dd/yyyy}", new { id = "dateSelect" })
@Html.DropDownListFor(model => Model.SelectedStoreId, new SelectList(Model.StoreList, "StoreId", "StoreName"), "Select Store", new { id = "storeSelect" })
@Html.DropDownListFor(model => Model.SelectedClassId, new SelectList(Model.ClassList, "ClassId", "Classes"), "Select Class", new { id = "classSelect" })
<button type="button" id="populate">Populate</button>

<script type="text/javascript">
    $(document).ready(function () {

        //Used to populate class list upon selecting a store
        $("#storeSelect").change(function () {

            var selectedStoreId = $("#storeSelect").val().toString();

            $.getJSON("/Planning/GETClassList",
                {
                    storeId: selectedStoreId
                },
                function (data) {
                    var classSelect = $("#classSelect");
                    classSelect.empty();

                    $.each(data, function (index, value) {
                        classSelect.append(
                            $('<option></option>').val(value.classId).html(value.classes)
                        );
                    });

                });

        });

        //Adds jqueryUI calendar popup to dateSelect
        $("#dateSelect").datepicker();
    });
</script>